<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.20.0" targetFramework="net462" />
  <package id="Dapper" version="1.42" targetFramework="net452" />
  <package id="eZet.EveLib.Core" version="3.0.8" targetFramework="net452" />
  <package id="eZet.EveLib.DynamicCrest" version="1.0.0-r1" targetFramework="net452" />
  <package id="eZet.EveLib.EveAuth" version="3.0.1.0" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.0.20505.0" targetFramework="net452" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net452" />
  <package id="NetMQ" version="3.3.3.4" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net452" />
  <package id="NLog" version="4.3.10" targetFramework="net452" />
  <package id="NLog.Config" version="4.3.10" targetFramework="net452" />
  <package id="NLog.Schema" version="4.3.10" targetFramework="net452" />
</packages>